
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    color: #007BFF;
}
button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.dark-theme {
    background-color: #333;
    color: #f4f4f9;
}
